body {
    margin: 0;
    padding: 0;
    background: url('../img/peso.png') no-repeat center center/cover;
    font-family: Arial, sans-serif;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0,0,0,0.4);
}

.card {
    background: rgba(0,0,0,0.6);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 350px;
}

.card input{
    width: 93%;
    padding: 12px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.card select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}

.confirmar, .cancelar {
    display: block;
    text-align: center;
    padding: 12px;
    border-radius: 25px;
    font-size: 18px;
    text-decoration: none;
    border: none;
}

.confirmar {
    background: red;
    color: white;
}

.cancelar {
    background: red;
    color: white;
}
