body {
    margin: 0;
    padding: 0;
    background: url('../img/peso.png') no-repeat center center/cover;
    font-family: Arial, sans-serif;
}

.container {
    width: 390px;
    margin: 60px auto;
    padding: 30px;
    background: rgba(0,0,0,0.6);
    border-radius: 25px;
    text-align: center;
}

input, select {
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 12px;
    border: none;
    font-size: 20px;
}

.btn {
    width: 90%;
    padding: 15px;
    margin-top: 15px;
    background: red;
    color: white;
    font-size: 22px;
    border-radius: 35px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #c40000;
}
