body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 70%;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

h1, h2, h3 {
    text-align: center;
}

p {
    font-size: 18px;
    margin: 8px 0;
}

.botao {
    display: block;
    width: 200px;
    margin: 20px auto;
    background: #1976D2;
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
}
