body {
    background-color: #f2eeee;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    width: 800px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.produto-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.imagem-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.imagem-preview img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.imagem-preview input[type="file"] {
    margin-top: 10px;
}

.info {
    flex: 1;
}

.info input[type="text"],
.info input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

textarea {
    height: 60px;
    resize: none;
}

.quantidade {
    margin-top: 15px;
}

.controle-qtd {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.controle-qtd button {
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.controle-qtd input {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    height: 30px;
}

.btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}

.btn:hover {
    background-color: darkred;
}
.ladinho
{
    display: flex;
}
.ladinho a {
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    font-size: 15px;
    margin-right: 5px;
    text-decoration: none;
}