body {
    background-color: #f2eeee;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.container {
    margin-left: 45vh;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    width: 100vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.produtos-box {
    background-color: red;
    border: 3px solid black;
}

.topo {
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-bottom: 3px solid black;
}

.grid-produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-items: center;
    padding: 20px;
}

.produto {
    text-align: center;
}

.produto img {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    border: 2px solid white;
}

.produto p {
    margin-top: 5px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.botoes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn{
    
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    line-height: normal;
    margin: 0;
}

.btn:hover {
    background-color: darkred;
}
